<!DOCTYPE html>
<html>
    <head>
        <title>2nd Marine Expeditionary Force</title>
        <meta name="description" content="2nd Marine Expeditionary Force is an Oceanic Based Arma 3 Milsim Unit. Discord: https://www.2mef.net/discord">
        <meta name="theme-color" content="#e63d37">
        <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/2/24/II_MEF_Insignia_Hi-Res_PNG.png" />
    </head>
    
    <body style="margin: 3rem; font-family: 'Courier New', Courier, monospace;">

        <h1>2nd Marine Expeditionary Force</h1>
        <br/>
        <h3>- Mod Pack Index</h3>

        <% Packs.forEach(pack => { %>
            <a href="/<%= pack %>"><%= pack %></a><br/>
        <% }) %>

        <br/>
        <h3>- Plugins</h3>
        <a href="/tfr">Task Force Radio</a> - Teamspeak Plugin<br/>

    </body>
</html>